.ibxfg { 
  border-top-width: 72px;
  border-bottom-width: 69px;
  border-bottom-width: 62px;
  margin-right: 75px;
  border-bottom-width: 71px;
  margin-bottom: 83px;
  font-size: 35px;
  padding-left: 83px;
}
